:root {
    --primary-bg: #ffd1a9;
    --form-bg: #ffffff;
    --accent-color: #f18383;
    --text-color: #666666; /* light gray */
    --background-color: rgb(255, 250, 240); /* soft cream */
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, var(--background-color), var(--primary-bg));
    padding: 20px;
  }
  
  .form {
    background-color: rgba(255, 255, 255, 0.595);
    padding: 40px;
    margin-left: 10%;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 35%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .primary {
    background-color: var(--accent-color);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .primary:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .emoticonDisplay {
    width: 55%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .emoticonImage {
    width: 60%;
    object-fit: contain;
    mix-blend-mode: multiply; /* or screen, depending on background */
}
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .form {
      width: 90%;
      margin-bottom: 30px;
    }
  
    .emoticonDisplay {
      width: 100%;
    }
  }
  